.doctor-detail-container{
    margin: 10px 0px;
    border-radius: 10px;
    background-color: #ecf5f4;
    overflow: hidden;

    .schedule-doctor{
        padding: 25px 20px;
        border-bottom: 1px solid palevioletred;
        background-color: rgb(242, 235, 238);
        display: flex;
        column-gap: 25px;

        .schedule-select{
            // width: 60%;
            flex-shrink: 0;
            flex-grow: 1;
        }

        .doctor-address{
            width: 40%;
            // flex: 1;
        }
    }

    .detail-info{
        margin-top: 30px;
        padding: 0 20px;
        font-size: 1.2rem;
    }

    .comment-doctor{
        padding: 25px 20px;
        border-top: 1px solid palevioletred;
        background-color: rgb(242, 235, 238);
    }
}

@media (max-width: 768px) {
    .intro-doctor {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .content-right{
        text-align: center;
      }
    }

    .schedule-doctor{
        flex-direction: column;
        row-gap: 35px;
        width: 100%;

        .schedule-select{
            width: 100%;
            flex: 1;
        }

        .doctor-address{
            width: 100%;
            // flex: 1;
        }
    }
  }