.modal-user-container{
    label{
        font-size: 1.2em;
        color: rgb(41, 110, 229);
    }
    
    input{
        border-radius: 5px;
        border: none;
        background-color: rgb(235, 241, 250);
        // font-size: 1em;
        // height: 2.5em;
    }

    select{
        border-radius: 5px;
        border: none;
        background-color: rgb(235, 241, 250);
        font-size: 1em;
        height: 3em;
    }

    .modal-title{
        // button{
        //     background-color: transparent;
        //     border: none;
        //     color: aliceblue;
        //     font-size: 20px !important;
        // }
    }

    // .btn{
    //     font-size: large;
    //     padding: 5px;
    //     text-align: center;
    //     height: fit-content;
    // }

    .input-password{
        position: relative;
        .fas{
            position: absolute;
            top: 14px;
            right: 15px;
            cursor: pointer;
        }
    }
}