#user-manager, .users-container{
    margin-bottom: 100px;

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1.5em;
        font-family: sans-serif;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        overflow: hidden;

        thead tr {
            background-image: linear-gradient(to right, #4ea6f3 0%, #0e6fc3 100%);
            color: #ffffff;
            text-align: left;
        }

        th, td {
            padding: 8px 15px;
        }

        tbody tr {
            border-bottom: 1px solid #dddddd;
            font-size: 1em;
        }
        
        tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
            border-radius: 5px;
            overflow: hidden;
        }
        
        tbody tr:last-of-type {
            border-bottom: 2px solid #4facfe;
        }

        tbody tr:hover {
            background-color: #c9e4fb;
        }

    }

    .button{
        font-size: .8em;
        background: linear-gradient(to right, #a860df 0%, #7e5cee 100%);
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
        border: none;
        border-radius: 5px;
        color: whitesmoke;

        &:hover{
            color: rgb(29, 212, 199);
            background: linear-gradient(to left, #a860df 0%, #7e5cee 100%);
        }

        &.del{
            margin-top: 8px;
        }
    }

    .add{
        text-align: right;
    }

    .button-add{
        width: fit-content;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
        box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
        transition: all .5s ease-in-out;
        background-size: 300% auto;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: aliceblue;

        &:hover{
            background-position: right center;
        }
    }
}